html,body {
  background: url(back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}
div.title {
  position:relative;
  font-family: "Helvetica Nueue", Helvetica;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 6px 9px #000;
  color: #b8b8b8;
  margin-top: 5px;
}
div.normal {
  position:relative;
  font-family: "Helvetica Nueue", Helvetica;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 6px 9px #000;
  color: #b8b8b8;
  margin-top: 2px;
  margin-left: 5px;
}
div.clickable {
  display:list-item;
  list-style-type: square;
  position:relative;
  font-family: "Helvetica Nueue", Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 6px 9px #000;
  color: #b8b8b8;
  margin-top: 15px;
  margin-left: 20px;
}
div.clickable a {
  position:absolute;
  font-family: "Helvetica Nueue", Helvetica;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-decoration:none; /* Makes sure the link   doesn't get underlined */
  z-index:10; /* raises anchor tag above everything else in div */
  background-color:white; /*workaround to make clickable in IE */
  opacity: 0; /*workaround to make clickable in IE */
  filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
ul {
  list-style-type: none;
}
span.grey {
  color: #b8b8b8;
}
span.green {
  color: #758664;
}

span.blue {
  color: #588aab;
}

div.defaultclickable {
  position:relative;
  font-family: "Helvetica Nueue", Helvetica;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 6px 9px #000;
  color: #b8b8b8;
  margin-top: 30px;
  margin-left: 20px;
}
div.defaultclickable a {
  position:absolute;
  font-family: "Helvetica Nueue", Helvetica;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-decoration:none; /* Makes sure the link   doesn't get underlined */
  z-index:10; /* raises anchor tag above everything else in div */
  background-color:white; /*workaround to make clickable in IE */
  opacity: 0; /*workaround to make clickable in IE */
  filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
