<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
html,body {
  background: url(back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}
div.clickable {
  position:relative;
  font-family: "Helvetica Nueue", Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 6px 9px #000;
  color: #b8b8b8;
  margin-top: 15px;
  margin-left: 30px;
}
div.clickable a {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-decoration:none; /* Makes sure the link   doesn't get underlined */
  z-index:10; /* raises anchor tag above everything else in div */
  background-color:white; /*workaround to make clickable in IE */
  opacity: 0; /*workaround to make clickable in IE */
  filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
.icon-list, .icon-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.icon-list li {
  margin: 1em;
  margin-left: 3em;
}
.icon-list li:before {
  content: '\f006'; /* fa-star */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
    </style>
  </head>
  <body>
  <ul class="icon-list">
{{range gets "/maestro.io/apps/*"}}
{{$upstream := json .Value}}
{{$skydnsdir := printf "%s/*" $upstream.watchdir}}{{range gets $skydnsdir}}
{{$skydnsrr := json .Value}}{{$skydnsrr.text}}

{{end}}
  <li><div class="clickable"><a href="http://{{base .Key}}.maestro.io"> </a>{{base .Key}}.maestro.io</div></li>
{{end}}
  </ul>
  </body>
</html>
