<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="maestro.css">
  </head>
  <body>
<center><div class="title">Maestro User Apps</div></center>
{{range gets "/maestro.io/apps/user/*"}}{{$upstream := json .Value}}{{$skydnsdir := printf "%s/*" $upstream.watchdir}}
{{$dns := base .Key}}
   <div class="clickable"><a href="http://{{$dns}}.maestro.io"> </a>
     <span class="green">{{$dns}}.maestro.io</span>
   </div>
{{range gets $skydnsdir}}
{{$rr := json .Value}}{{$txt := json $rr.text}}
   <div class="normal">
     <span class="grey">user:</span> {{$txt.username}} <span class="grey">stage:</span> {{$txt.stage}} <span class="grey">app:</span> {{$txt.app}} <span class="grey">component:</span> {{$txt.component}} <span class="grey">dns:</span> {{$txt.dns}} <span class="grey">ip:</span> {{$rr.host}}
   </div>
{{end}}{{end}}
  </body>
</html>
